<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="users-section">
        <ul class="users-list">
          <% @users.each do |user| %>
          <li>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  Name: <%= user.name %>
                  <span class="profile-link">
                    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
                  </span>
                </div>
                <div class="col-md-6">
                  <% if show_friend_request user %>
                  <span>
                    <p>
                      <%= link_to 'Send Friend Request', {action: "send_request",:controller=>"friendships",friend_id: user.id }, method: :post, class: 'btn btn-primary' %>
                    </p>
                  </span>
                  <% elsif pending_friend user %>
                  <span>
                    <%show_pending%>
                    <% if @pending%>
                    <% @pending.each do |pending|%>
                    <% if current_user.id == pending.user.id%>
                    <p>Pending request
                    <%= pending.friend.id%>
                      <%= link_to 'Cancel', {action: "decline",:controller=>"friendships",user_id: pending.friend.id }, method: :delete, class: 'btn btn-primary' %>
                    </p>
                    <%end%>
                    <%end%>
                    <%end%>

                  </span>
                  <% elsif already_friend user %>
                  <span>
                    <%show_pending%>
                    <% if @pending%>
                    <% @pending.each do |pending|%>
                    <% if current_user.id == pending.user.id%>
                    <p>Already Friend
                      <%= link_to 'Unfriend', {action: "decline",:controller=>"friendships",user_id: pending.user.id }, method: :delete, class: 'btn btn-primary' %>
                    </p>
                    <%end%>
                    <%end%>
                    <%end%>
                    <%end%>
                  </span>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </section>
    </div>
  </div>
</div>