<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Requests List</h2>
      <ul class="list-group list-group-flush">
          <% #current_user.inverse_friendships.each do |f|%>
           <% show_requests.each do |request|%>
            <li class="list-group-item">
            <%= request.name%>
              <%= link_to 'Accept', {action: "accept",:controller=>"friendships",user_id: request.id }, method: :post, class: 'btn btn-primary' %>
              <%= link_to 'Decline', {action: "decline",:controller=>"friendships",user_id: request.id }, method: :delete, class: 'btn btn-primary' %>
            </li>
        </ul>
        <%end%>
    </div>
    <div class="col-md-4">
      <h2>Pending Request</h2>
      <%show_pending%>
      <%if @pending%>
      <ul class="list-group list-group-flush">
      <%@pending.each do |requests|%>
        <li class="list-group-item">
          <%= requests.friend.name%>
          <%= link_to 'Cancel', {action: "decline",:controller=>"friendships",user_id: requests.friend.id}, method: :delete, class: 'btn btn-primary' %>
        </li>
      <%end%>
      </ul>
      <%end%>
    </div>
    <div class="col-md-4">
      <h2>Friends List</h2>
      <%friends%>
      <%if @friends%>
      <ul class="list-group list-group-flush">
      <%@friends.each do |requests|%>
        <li class="list-group-item">
          <%= requests.friend.name%>
          <%= link_to 'Unfriend', {action: "decline",:controller=>"friendships",user_id: requests.friend.id}, method: :delete, class: 'btn btn-primary' %>
        </li>
      <%end%>
      </ul>
      <%end%>
    </div>

  </div>
</div>